.benefitsContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    }


.shownPoseContainer{
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-content: center;
}

.poseCard{
    height: 0vh;
    width: 0vw;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
}

.firstPose{
    position: absolute;
    margin-top: -50vh;
    box-shadow: 0px 0px 91px 50px #1b869467;
    border-radius: 1rem;
    height: 99vh;
    width: 90vw;
    z-index: 3 ;
    opacity: 0;
}

.closePoseBtn{
    position: absolute;
    top: 1vh;
    right: 1vw;
    border-radius: 1rem;
    z-index: 3;
}

.centralBenefitsPicture{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 91px 50px #1b869467;
    opacity: 0.2;
}

.buttonContainer{
    position: absolute;
    width: 80%;
    height: 50%;
}

.benefitsPoseButton{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 91px 50px #1b869467;
}

.benefitsPoseButtonOne{
    position: absolute;
    top: 45%;
    left: 5%;
}
.benefitsPoseButtonTwo{
    position: absolute;
    top: 35%;
    left: 20%;
}
.benefitsPoseButtonThree{
    position: absolute;
    bottom: 35%;
    left: 20%;
}
.benefitsPoseButtonFour{
    position: absolute;
    top: 20%;
    left: 35%;
}
.benefitsPoseButtonFive{
    position: absolute;
    bottom: 20%;
    left: 35%;
}
.benefitsPoseButtonSix{
    position: absolute;
    top: 5%;
    left: 50%;
}
.benefitsPoseButtonSeven{
    position: absolute;
    bottom: 5%;
    left: 50%;
}
.benefitsPoseButtonEight{
    position: absolute;
    top: 5%;
    right: 50%;
}
.benefitsPoseButtonNine{
    position: absolute;
    bottom: 5%;
    right: 50%;
}
.benefitsPoseButtonTen{
    position: absolute;
    top: 20%;
    right: 35%;
}
.benefitsPoseButtonEleven{
    position: absolute;
    bottom: 20%;
    right: 35%;
}
.benefitsPoseButtonTwelve{
    position: absolute;
    top: 35%;
    right: 20%;
}
.benefitsPoseButtonThirteen{
    position: absolute;
    bottom: 35%;
    right: 20%;
}
.benefitsPoseButtonFourteen{
    position: absolute;
    top: 45%;
    right: 5%;
}






