.header-container{
    width: 100vw;
    height: 40vh;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.header-text{
    position: absolute;
    width: 100%;
    bottom: 6vh;
    color: white;
    font-size: 2.7rem;
    font-weight: bold;
}

.logo-image{
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: 9vh;
    right: 3vw;
    border-radius: 50%;
}

.header-background-img{
    width: 100vw;
    height: auto;
    position: absolute;
    left: 0;
    z-index: -3;
    overflow: hidden;

}
