.home-content{
    display: flex;
    margin: 1rem;
    position: relative;
    height: 60vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn{
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.headstand-homepage-image{
    height: 50vh;
    width: auto;
    border-radius: .5rem;
    position: absolute;
    left: 10vw;
    bottom: 3rem;
    box-shadow: 0px 0px 91px 50px #1b869467;

}

.other-homepage-image{
    height: 20vh;
    width: auto;
    border-radius: .5rem;
    position: absolute;
    right: 10vw;
    bottom: 3rem;
    transform: scaleX(-1);
    box-shadow: 0px 0px 91px 50px #1b869467;
}

.openingText{
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 1.2rem;
    letter-spacing: .1rem;
}

