@import "./App.css";
@import "./Header.css";
@import "./Navbar.css";
@import "./Home.css";
@import "./Benefits.css";
@import "./About.css";
@import "./Testimonials.css";
@import "./Reiki.css";
@import "./Meditation.css";

body {
  margin: 0;
  font-family: 'Merienda One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  overflow: hidden;
  background-color: rgba(18,122,146,1);
}
