.test-container{
    margin: 1rem;
    padding: 1rem;
}

.test-container-inactive{
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.testimonials-content{
    margin-top: 5rem;
    display: flex;
    height: 100%;
    width: 100%;
}


